.DS_Store
*.FCBak
Thumbs.db

*.bak
*.tmp
*.autosave
*.kicad_sch-bak
*.kicad_pcb-bak
*-save.kicad_pcb
*-save.kicad_sch
*.kicad_prl
*.kicad_pro.user

c64-cellular-backups
fp-info-cache
fp-lib-table
sym-lib-table
